* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.contactContainer {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding-left: 80px;
  font-size: 20px;
  padding-top: 220px;
  padding-bottom: 100px;
}
.contactContainerRight {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 80px;
  font-size: 20px;
  padding-top: 220px;
  padding-bottom: 100px;
  direction: rtl;
}
/* .contactContainerRight {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 80px;
  font-size: 20px;
  padding-top: 220px;
  padding-bottom: 100px;
  direction: rtl;
} */
.contactSContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
}
.underLine {
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}
.blueSky {
  color: rgb(0, 157, 255);
}

.blue {
  color: blue;
}
.italic {
  font-style: italic;
}
.green {
  color: green;
}

.paddingTop {
  padding-top: 20px;
}
.mainWord {
  font-size: 40px;
  font-weight: bold;
  color: #0077b6;
}
.mainWord span {
  border-bottom: 5px #c9e465 solid;
}
.big {
  font-size: 30px;
}

.marginZero {
  margin-top: 0px;
}
.liStyle {
  list-style: square;
}
.fontFamily {
  font-family: sans-serif;
}

.phone {
  font-size: 24px;
  font-weight: bold;
  color: #0077b6;
}
.phone span {
  color: green;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: #0077b6;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 3px;
  width: fit-content;
}
.inputNormal {
  padding: 5px;
  font-size: 16px;
}
.inputMessg {
  width: 380px;
  height: 250px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 25px;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
}
.errors {
  padding-top: 0px;
  margin-top: 2px;
  font-size: 16px;
  color: rgb(179, 9, 9);
}
.success {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 150, 0);
  border: 1px solid rgb(0, 150, 0);
  padding: 5px;
}
.checkIcon {
  padding-left: 4px;
}
.sendButton {
  font-size: 18px;
  padding: 5px;
  background-color: aliceblue;
  font-weight: bold;
}
.sendButton:hover {
  font-size: 18px;
  background-color: black;
  color: white;
  font-weight: bold;
}
.phoneAlign {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.WhatsApp {
  padding-left: 20px;
  width: 60px;
}

@media screen and (max-width: 1650px) {
  .contactContainer {
    width: 100%;
    padding-left: 50px;
    padding-top: 280px;
  }
  .contactContainerRight {
    width: 90%;
    padding-left: 40px;
    font-size: 18px;
    padding-top: 270px;
    padding-bottom: 100px;
  }
  .contactSContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
  }
  .mainWord {
    font-size: 30px;
  }
  .phone {
    font-size: 20px;
  }
  .formContainer {
    margin-top: 30px;
  }
  .inputNormal {
    font-size: 14px;
    border: 1px solid black;
  }
  .inputMessg {
    width: 330px;
    height: 200px;
    font-size: 16px;
  }
  .errors {
    font-size: 12px;
  }
  .sendButton {
    font-size: 16px;
  }
  .WhatsApp {
    padding-left: 20px;
    width: 50px;
  }
}
@media screen and (max-width: 890px) {
  .SenegalContainer {
    padding-top: 200px;
  }
  .SenegalContainerRight {
    padding-top: 200px;
  }
}

@media screen and (max-width: 580px) {
  .contactContainer {
    width: 100%;
    padding-left: 20px;
    padding-top: 140px !important;
  }
  .contactContainerRight {
    width: 90%;
    padding-left: 20px;
    font-size: 12px;
    padding-top: 140px !important;
    padding-bottom: 100px;
  }
  .contactSContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
  }
  .mainWord {
    font-size: 25px;
  }
  .phone {
    font-size: 14px;
  }
  .formContainer {
    margin-top: 30px;
  }
  .inputNormal {
    font-size: 12px;
  }
  .inputMessg {
    width: 270px;
    height: 180px;
    font-size: 14px;
  }
  .errors {
    font-size: 10px;
  }
  .sendButton {
    font-size: 14px;
  }
  .WhatsApp {
    padding-left: 20px;
    width: 30px;
  }
  .formContainer {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .label {
    font-size: 14px;
  }
}
