#Loader {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: white;
  height: 100vh;
}

@media screen and (max-width: 980px) {
  #Loader .ClipLoader {
    width: 250px !important;
    height: 250px !important;
  }
}

@media screen and (max-width: 480px) {
  #Loader .ClipLoader {
    width: 150px !important;
    height: 150px !important;
  }
}
